* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: #F6F6F6;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 20px;
}

.destaque {
    color: #22D4FD;
    font-weight: bold;
}

.destaque1 {
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 3px;
}