body {
    background-color: #2C2B33;
    color: #5448A0;
}

.destaque {

    color: #4D3ACA;

}

.destaque1 {

    color: #ffffff;

}

span {

    color: #ffffff;
    border: 1px solid #22D4FD;
    padding: 3px;

}

img {

    position: fixed;
    right: 5px;

}