* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}

p {
    padding: 10px;
}

.texto-destaque {

    color: blueviolet;
}

.titulo-blog {
    margin: 5px;
    color: purple;

}

strong.urgente {

    color: red;

}