* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}

p {
    padding: 10px;
}

.apresentacao {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.texto-destaque {

    color: blueviolet;
}

.titulo-blog {
    margin: 5px;
    border: 2px solid white;
    color: purple;
}

strong.urgente {

    color: red;

}