body {
    background-color: black;
    color: white;
}

a {
    color: rgb(81, 255, 0);
    position: absolute;
    width: 615px;
    height: 482px;
    left: 357px;
    top: 278px;
    border: .1px solid;
    text-align: center;
}



